/* Font import: Fira Sans */
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
  background-color:#F5F5F5;
  font-family: "Fira Sans", serif;
}
 
/* Header Part Design */

header{
  padding: 0% 10%;
}

/* Nav Part Design */
nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav-title{
 font-size: 32px;
 color: #0E0E0E;
}
 .nav-button{
  font-size: 18px;
  color: #006A50;
  padding: 10px 25px;
  border: 1px solid #006A50;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
 }
 .nav-button:hover{
  color: white;
  background-color: black;
 }
 /* Nav Design close */

 /* Banner Design Start */
.banner{
  background-color: #C6E4D6;
  border-radius: 24px;
  padding: 5% 3%;
  display: flex;
  margin-top: 2%;
}

 .banner-left-greeting{
  font-size: 24px;
  color: black;
  opacity: 0.4;
  font-weight: bold;
 }

.banner-left-title{
  font-size: 56px;
  padding-right: 36%;
}
.banner-left-button{
  background-color: #006A50;
  font-size: 18px;
  color: white;
  border-radius: 8px;
  border: 1px solid #ddd;
  padding: 2% 2%;
  cursor: pointer;
}
.banner-left-button:hover{
  background-color: black;
}
/* Header Section close */


/* Main Section Start */
main{
  padding: 0% 10%;
}

/* Pillars of "Bangladesh 2.0 Section start */
.Pillars-section{
  margin-top: 5%;
}

.Pillars-section-title{
  font-size: 40px;
}

.Pillars-section .card-box{
 display: flex;
 gap: 2%;
}

.Pillars-section .card{
  background-color: white;
  padding: 2%;
  border: 1px solid #ddd;
  border-radius: 16px;
  flex-basis: 25%;
}

.Pillars-section .card:hover{
  background-color: #006A50;
  cursor: pointer;
  color: white;
}

.card-title{
  font-size: 20px;
}
.card-description{
  font-size: 16px;
  opacity: 0.5;
}
/* Pillars of "Bangladesh 2.0 Section Close */



/* The Vision of Future Section Start */
.Vision-section{
  margin-top: 5%;
}

.Vision-section .card-box{
  display: flex;
  gap:2%;
  margin-top: 3%;
}

/* All card */
.card-flex{
  display:flex;
  flex-direction: column;
  gap: 10px;
}

.Vision-section .card-one{
  background-color: #83aeea;
  padding: 2%;
  border-radius: 16px;
  flex-basis: 33%;
}
.Vision-section .card-two{
  background-color: #C6E4D6;
  padding: 2%;
  border-radius: 16px;
  flex-basis: 33%;
}
.Vision-section .card-three{
  background-color: #F7EBCF;
  padding: 2%;
  border-radius: 16px;
  flex-basis: 33%;
}
/* Card Hover */
.Vision-section .card-flex:hover{
 background-color: #006A50;
 color: white;
 cursor: pointer;
}
/* All Button */
.Vision-section .button-one{
 background-color: #5490F5;
}
.Vision-section .button-two{
 background-color: #09A15C;
}
.Vision-section .button-three{
 background-color: #FFC239;
}
/* Shared Button */
.Vision-section button{
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
}
.Vision-section button:hover{
  background-color: black;
}
/* The Vision of Future Section Close */















