/* Font import: Fira Sans */
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

#body-style{
  background-color:#F5F5F5;
  font-family: "Fira Sans", serif;
  margin: 0;
}
 
/* Shared title */
.title{
  font-size: 40px;
}

/* Header Part Design */
header{
  padding: 0% 10%;
}
/* Nav Part Design */
nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav-title{
 font-size: 2em;
 color: #0E0E0E;
}
 .nav-button{
  font-size: 18px;
  color: #006A50;
  padding: 10px 25px;
  border: 1px solid #006A50;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
  text-wrap: nowrap;
  transition: 1s;
 }
 .nav-button:hover{
  color: white;
  background-color: black;
 }
 /* Nav Design close */

 /* Banner Design Start */
.banner{
  background-color: #C6E4D6;
  border-radius: 24px;
  padding: 5% 3%;
  display: flex;
  margin-top: 2%;
}

 .banner-left-greeting{
  font-size: 24px;
  color: black;
  opacity: 0.4;
  font-weight: bold;
 }

.banner-left-title{
  font-size: 56px;
  padding-right: 36%;
  margin-bottom:2%;
}
.banner-left-button{
  background-color: #006A50;
  font-size: 18px;
  color: white;
  border-radius: 8px;
  border: 1px solid #ddd;
  padding: 2% 2%;
  cursor: pointer;
  transition: 1s;
}
.banner-left-button:hover{
  background-color: black;
}
/* Header Section close */



/* Main Section Start */
main{
 padding: 0% 10%;
}



/* Pillars of "Bangladesh 2.0 Section start */
.Pillars-section{
  margin-top: 5%;
}

.Pillars-section-title{
  font-size: 40px;
}

.Pillars-section .card-box{
 display: flex;
 gap: 2%;
}

.Pillars-section .card{
  background-color: white;
  padding: 2%;
  border: 1px solid #ddd;
  border-radius: 1em;
  flex-basis: 25%;
  transition: 1s;
}

.Pillars-section .card:hover{
  background-color: #006A50;
  cursor: pointer;
  color: white;
}

.card-title{
  font-size: 20px;
}
.card-description{
  font-size: 1em;
  opacity: 0.5;
}
/* Pillars of "Bangladesh 2.0 Section Close */






/* The Vision of Future Section Start */
.Vision-section{
  margin-top: 5%;
}

.Vision-section .card-box{
  display: flex;
  gap:2%;
  margin-top: 3%;
}

/* All card */
.card-flex{
  display:flex;
  flex-direction: column;
  gap: 10px;
  transition: 1s;
}

.Vision-section .card-one{
  background-color: #83aeea;
  padding: 2%;
  border-radius: 1em;
  flex-basis: 33%;
}
.Vision-section .card-two{
  background-color: #C6E4D6;
  padding: 2%;
  border-radius: 1em;
  flex-basis: 33%;
}
.Vision-section .card-three{
  background-color: #F7EBCF;
  padding: 2%;
  border-radius: 1em;
  flex-basis: 33%;
}
/* Card Hover */
.Vision-section .card-flex:hover{
 background-color: #006A50;
 color: white;
 cursor: pointer;
}
/* All Button */
.Vision-section .button-one{
 background-color: #5490F5;
}
.Vision-section .button-two{
 background-color: #09A15C;
}
.Vision-section .button-three{
 background-color: #FFC239;
}
/* Shared Button */
.Vision-section button{
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  font-size: 1em;
  cursor: pointer;
  transition: 1s;
}
.Vision-section button:hover{
  background-color: black;
}
.Doctor-Younus-section{
  border: 1px solid #ddd;
  border-radius: 1em;
  padding: 2% 1%;
  margin-top: 3%;
  background: url(quote-bg.png);
  background-color: white;
  background-repeat: no-repeat;
  background-position:1% 10%;
}
.Doctor-Younus-section p{
 line-height: 30px;
}

/* The Vision of Future Section Close */





/* Your Opinion Matters Section start with Question */
.Opinion-Matters-section{
  margin-top: 5%;
}
.table-box{
  padding: 3%;
  border-radius: 10px;
  border: 1px solid #ddd;
  background-color: white;
}

table{
  border: 1px solid #ddd;
  width: 100%;
  border-collapse: collapse;
}

 thead tr{
  background-color: #C6E4D6;
  font-size: 20px;
 }
table td{
  padding: 2%;
  border: 2px solid #ddd;
  font-size: 1em;
  font-weight: bold;
}
td select{
  background-color: #C6E4D6;
  padding: 5%;
  border-radius: 4px;
  border: 1px solid;
  font-weight: bold;
}
select option{
  background-color: white;
}

/* Your Opinion Matters Section Close */



/* Recent-News-section Start */

.Recent-News-section{
  margin-top: 5%;
}

.News-section-description{
  font-size: 1em;
  line-height: 30px;
}
.News-box{
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.Recent-News-section .News-one{
  background-color: white;
  border-radius: 24px;
  padding: 3%;
  display: flex;
}

.Recent-News-section .News-two{
  background-color: white;
  border-radius: 24px;
  padding: 3%;
  display: flex;
  flex-direction: row-reverse;
}

.News-one-left{
  flex-basis: 30%;
}

.News-one-right{
  flex-basis: 70%;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.Recent-News-section img{
  border-radius: 24px;
}

.Recent-News-section h3{
  font-size: 32px;
  font-weight: bold;
}
.Recent-News-section button{
  background-color: #006A50;
  color: white;
  padding: 1% 2%;
  font-size: 18px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: 1s;
}
.Recent-News-section button:hover{
  background-color: black;
}

/* Recent-News-section Close */



 /* donation section start */
.donation-section{
  margin-top: 5%;
  text-align: center;
}
.donation-section-description{
  padding: 0% 12%;
}
.donation-box{
 display: flex;
 justify-content: center;
 align-items: center;
 gap: 2%;
}
.donation-box div{
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0% 3%;
  border-radius: 1em;
  transition: 1s;
  border: 1px solid #ddd;
}
.donation-box div:hover{
 background-color: #006A50;
 cursor: pointer;
 color: white;
}
.donation-box div:nth-child(2){
  background-color: #C6E4D6;
}
.donation-box div:nth-child(2):hover{
  background-color: black;
}

.donation-section input{
  padding: 1%;
  background-color: white;
  border: none;
  border-radius: 2px;
  width: 70%;
  margin: 2% 2%;
}
input::placeholder{
  text-align: center;
  font-size: 20px;
  opacity: 0.4;
}

.donation-section button{
  background-color: #006A50;
  color: white;
  padding: 1% 2%;
  font-size: 18px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: 1s;
}
.donation-section button:hover{
  background-color: black;
}
/* donation section close */


/* newsletter-section start */
.newsletter-section{
  margin-top: 5%;
  text-align: center;
  background-color: #C6E4D6;
  border-radius: 24px;
  padding: 2% 5%;
}
.newsletter-section p{
  font-size: 1em;
  padding: 0% 25%;
}


/* form Design */
.newsletter-section form{
 display: flex;
 justify-content: center;
}
.newsletter-section input{
  padding: 1%;
  border: none;
}
.newsletter-section input[type="email"]{
  width: 50%;
  border-radius: 8px 0px 0px 8px;
  padding: 0% 3%;
}
.newsletter-section input[type="submit"]{
  width: 10%;
  background-color: #006A50;
  color: white;
  cursor: pointer;
  border-radius: 0px 8px 8px 0px;
  font-size: 18px;
  padding-right: 10%;
}
.newsletter-section input[type="submit"]:hover{
  background-color: black;
}
.newsletter-section input[type="email"]::placeholder{
  text-align: left;
  font-size: 18px;
  color: #0E0E0E;
  opacity: 0.3;
}
/* newsletter-section close*/


/* footer  */
footer{
  background-color: white;
  text-align: center;
  padding: 2% 15%;
  margin-top: 5%;
}
.footer-title-section{
  border-bottom: 2px solid #ddd;
  margin-bottom: 3%;
}
.footer-title-section h3{
  font-size: 2em;
}
.footer-img{
 display: flex;
 justify-content: center;
 gap: 2%
}
footer div p a{
  font-size: 20px;
  text-decoration: none;
  color: #006A50;
}
/* Footer Close */
/* Alhamdulillah Design is Completed */